#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

// &msc {
//     acceleration-exponent = <1>;      // 0
//     time-to-max-speed-ms = <300>;       // 300
//     delay-ms = <0>;                   // 0
// };
// &mmv {
//     time-to-max-speed-ms = <400>;
//     acceleration-exponent = <1>;
//     trigger-period-ms = <8>;
// };

&mmv {
    acceleration-exponent = <1>;          // 1
    time-to-max-speed-ms = <500>;         // 300
    delay-ms = <0>;                       // 0
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        lt_fast: lt_fast {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_FAST";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
        };

        sk_sh: sk_sh {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_SH";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            require-prior-idle-ms = <150>;
            retro-tap;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33 34 42 43 44>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            require-prior-idle-ms = <150>;
            retro-tap;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41 46 47 45>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    // scroll_encoder: scroll_encoder {
    //     compatible = "zmk,behavior-sensor-rotate";
    //     #sensor-binding-cells = <0>;
    //     bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
    //
    //     tap-ms = <100>;
    // };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <0 13 28>;
        };

        clipboard_screenshot {
            bindings = <&kp LG(LC(LS(NUMBER_4)))>;
            key-positions = <28 13>;
        };

        control_center {
            bindings = <&kp LC(LS(LEFT))>;
            key-positions = <27 41>;
        };

        lock_screen {
            bindings = <&kp LC(LG(Q))>;
            key-positions = <0 13>;
            layers = <0>;
        };

        hyper+enter {
            bindings = <&kp LS(LA(LC(LG(ENTER))))>;
            key-positions = <12 27>;
            layers = <0>;
        };

        alt+backspace {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <45 44>;
            layers = <0>;
            require-prior-idle-ms = <75>;
        };

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <3 4>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        left_parentheses {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <17 16>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <32 31>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <9 8>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        right_parentheses {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <24 23>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        right_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <37 38>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        lessthan {
            bindings = <&kp LESS_THAN>;
            key-positions = <2 3>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <16 15>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <30 31>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <15 14>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        greaterthan {
            bindings = <&kp GREATER_THAN>;
            key-positions = <9 10>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <25 24>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <38 39>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <25 26>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <3 9>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <24 16>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        exclamation {
            bindings = <&kp EXCL>;
            key-positions = <38 31>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <8 4>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <17 23>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <32 37>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        ampersand {
            bindings = <&kp AMPERSAND>;
            key-positions = <22 18>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <36 33>;
            layers = <0 1>;
            require-prior-idle-ms = <120>;
            timeout-ms = <50>;
        };
    };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp A &kp W &kp A &kp D &kp N1 &kp N1 &kp N8 &kp N8 &kp N7 &kp N7 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        uni_id: uni_id {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N0 &kp N2 &kp N4 &kp N5 &kp N8 &kp N7 &kp N6 &kp N0>;
            label = "UNI_ID";
        };

        less_equal: less_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp EQUAL>;
            label = "LESS_EQUAL";
        };

        greater_equal: greater_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GREATER_THAN &kp EQUAL>;
            label = "GREATER_EQUAL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp GRAVE   &kp Q                    &kp W         &kp E              &kp R            &kp T                              &kp UP                &kp Y          &kp U             &kp I               &kp O         &kp P                        &kp DELETE
&lt 4 TAB   &HML LA(LC(LEFT_GUI)) A  &HML LCTRL S  &HML LEFT_GUI D    &HML LEFT_ALT F  &kp G                    &kp LEFT  &kp ENTER  &kp RIGHT  &kp H          &HMR RIGHT_ALT J  &HMR RIGHT_GUI K    &HMR RCTRL L  &HMR RA(RC(RGUI)) SEMICOLON  &kp SINGLE_QUOTE
&caps_word  &kp Z                    &kp X         &kp C              &kp V            &kp B      &kp C_MUTE              &kp DOWN              &kp N          &kp M             &kp COMMA           &kp DOT       &kp FSLH                     &caps_word
                                                   &sk_sh LEFT_SHIFT  &lt_fast 2 ESC   &kp SPACE                                                &kp BACKSPACE  &lt_fast 1 ENTER  &sk_sh RIGHT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            bindings = <
&trans  &trans           &kp N7  &kp N8  &kp N9  &trans                    &trans          &kp UNDER  &kp AMPERSAND  &kp STAR     &kp MINUS  &kp PLUS       &trans
&trans  &kp N0           &kp N4  &kp N5  &kp N6  &trans            &trans  &trans  &trans  &kp EQUAL  &kp DOLLAR     &kp PERCENT  &kp CARET  &kp BACKSLASH  &kp GRAVE
&trans  &sk_sh LEFT_GUI  &kp N1  &kp N2  &kp N3  &trans  &trans            &trans          &kp MINUS  &kp EXCL       &kp AT       &kp HASH   &kp PIPE       &kp TILDE
                                 &trans  &trans  &trans                                    &trans     &trans         &trans
            >;

            label = "NUM & SYM";
            sensor-bindings = <&rgb_encoder>;
        };

        upper_layer {
            bindings = <
&trans        &trans        &trans        &trans           &trans           &trans                                         &kp C_VOLUME_UP               &kp LC(LS(TAB))  &kp LC(LS(PAGE_DOWN))  &kp LC(LS(PG_UP))  &kp LC(TAB)  &trans   &trans
&kp CAPSLOCK  &sk_sh GLOBE  &sk_sh LCTRL  &sk_sh LEFT_GUI  &sk_sh LEFT_ALT  &sk_sh LA(LC(LEFT_GUI))            &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp LEFT_ARROW   &kp DOWN               &kp UP_ARROW       &kp RIGHT    &trans   &trans
&trans        &trans        &trans        &trans           &trans           &trans                   &trans                &kp C_VOL_DN                  &kp HOME         &kp PAGE_DOWN          &kp PG_UP          &kp END      &kp INS  &trans
                                          &trans           &trans           &trans                                                                       &trans           &trans                 &trans
            >;

            label = "NAV";
        };

        system_layer {
            bindings = <
&bt BT_CLR_ALL  &kp C_VOLUME_UP    &kp F7  &kp F8  &kp F9  &kp F10                    &trans          &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &kp C_NEXT
&sys_reset      &kp C_MUTE         &kp F4  &kp F5  &kp F6  &kp F11            &trans  &trans  &trans  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &kp C_PLAY_PAUSE
&bootloader     &kp C_VOLUME_DOWN  &kp F1  &kp F2  &kp F3  &kp F12  &trans            &trans          &bt BT_CLR       &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &kp C_PREV
                                           &trans  &trans  &trans                                     &trans           &rgb_ug RGB_SPI  &rgb_ug RGB_SPD
            >;

            label = "SYSTEM";
        };

        mouse_layer {
            display-name = "MOUSE";
            bindings = <
&none  &none  &none      &none      &none      &none                           &mmv MOVE_UP                     &none      &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none  &none
&none  &none  &mkp LCLK  &mkp MCLK  &mkp RCLK  &none           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none
&none  &none  &none      &none      &none      &none  &none                    &mmv MOVE_DOWN                   &none      &msc SCRL_LEFT  &none           &msc SCRL_RIGHT  &none  &none
                         &none      &tog 3     &none                                                            &mkp LCLK  &mkp RCLK       &mkp MCLK
            >;

            label = "MOUSE";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        system_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
