#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

// &msc {
//     acceleration-exponent = <1>;      // 0
//     time-to-max-speed-ms = <300>;       // 300
//     delay-ms = <0>;                   // 0
// };
// &mmv {
//     time-to-max-speed-ms = <400>;
//     acceleration-exponent = <1>;
//     trigger-period-ms = <8>;
// };

&mmv {
    acceleration-exponent = <1>;          // 1
    time-to-max-speed-ms = <500>;         // 300
    delay-ms = <0>;                       // 0
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        lt_fast: lt_fast {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_FAST";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
        };

        th_fast: th_fast {
            compatible = "zmk,behavior-hold-tap";
            label = "TH_FAST";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
        };

        sk_sh: sk_sh {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_SH";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        sh_fast: sh_fast {
            compatible = "zmk,behavior-hold-tap";
            label = "SH_FAST";
            bindings = <&kp>, <&sk_sh>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
        };

        lt_thumb: lt_thumb {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_THUMB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <75>;
            flavor = "balanced";
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    // scroll_encoder: scroll_encoder {
    //     compatible = "zmk,behavior-sensor-rotate";
    //     #sensor-binding-cells = <0>;
    //     bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
    //
    //     tap-ms = <100>;
    // };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <0 13 28>;
        };

        clipboard_screenshot {
            bindings = <&kp LG(LC(LS(NUMBER_4)))>;
            key-positions = <28 13>;
        };

        control_center {
            bindings = <&kp LC(LS(LEFT))>;
            key-positions = <27 41>;
        };

        lock_screen {
            bindings = <&kp LC(LG(Q))>;
            key-positions = <0 13>;
            layers = <0>;
        };

        hyper+enter {
            bindings = <&kp LS(LA(LC(LG(ENTER))))>;
            key-positions = <12 27>;
            layers = <0>;
        };

        alt+backspace {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <43 46>;
            layers = <0>;
            require-prior-idle-ms = <75>;
        };

        left_gui {
            bindings = <&sk_sh LEFT_GUI>;
            key-positions = <15 16>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
            layers = <0>;
            slow-release;
        };

        left_alt {
            bindings = <&sk_sh LEFT_ALT>;
            key-positions = <16 17>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
            layers = <0>;
            slow-release;
        };

        left_ctrl {
            bindings = <&sk_sh LCTRL>;
            key-positions = <17 15>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
            layers = <0>;
            slow-release;
        };

        right_gui {
            bindings = <&sk_sh RIGHT_GUI>;
            key-positions = <24 25>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
            layers = <0>;
            slow-release;
        };

        right_alt {
            bindings = <&sk_sh RIGHT_ALT>;
            key-positions = <24 23>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
            layers = <0>;
            slow-release;
        };

        right_ctrl {
            bindings = <&sk_sh RCTRL>;
            key-positions = <23 25>;
            require-prior-idle-ms = <150>;
            timeout-ms = <50>;
            layers = <0>;
            slow-release;
        };
    };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp A &kp W &kp A &kp D &kp N1 &kp N1 &kp N8 &kp N8 &kp N7 &kp N7 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        uni_id: uni_id {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N0 &kp N2 &kp N4 &kp N5 &kp N8 &kp N7 &kp N6 &kp N0>;
            label = "UNI_ID";
        };

        less_equal: less_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp EQUAL>;
            label = "LESS_EQUAL";
        };

        greater_equal: greater_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GREATER_THAN &kp EQUAL>;
            label = "GREATER_EQUAL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp GRAVE        &kp Q  &kp W  &kp E                    &kp R      &kp T                                      &kp UP                &kp Y             &kp U          &kp I               &kp O    &kp P     &kp DELETE
&lt 4 TAB        &kp A  &kp S  &kp D                    &kp F      &kp G                            &kp LEFT  &kp ENTER  &kp RIGHT  &kp H             &kp J          &kp K               &kp L    &kp SEMI  &mt RCTRL APOS
&sk_sh LEFT_ALT  &kp Z  &kp X  &kp C                    &kp V      &kp B              &kp C_MUTE              &kp DOWN              &kp N             &kp M          &kp COMMA           &kp DOT  &kp FSLH  &sk_sh RIGHT_GUI
                               &sk_sh LC(LA(LEFT_GUI))  &kp SPACE  &lt_fast 2 ESCAPE                                                &lt_fast 1 ENTER  &kp BACKSPACE  &sk_sh RIGHT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            bindings = <
&kp GRAVE  &kp AT    &kp HASH          &kp DOLLAR      &kp PERCENT           &kp CARET                      &none         &kp AMPS          &kp STAR               &kp MINUS          &kp UNDERSCORE     &kp PLUS   &uni_id
&none      &kp EXCL  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp LESS_THAN           &none  &none  &none  &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE    &kp RIGHT_BRACKET  &kp EQUAL  &email
&none      &kp BSLH  &kp PIPE          &kp TILDE       &kp QUESTION          &less_equal    &none           &none         &greater_equal    &kp COLON              &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE   &kp SLASH  &none
                                       &trans          &trans                &trans                                       &trans            &trans                 &trans
            >;

            label = "SYMBOLS";
            sensor-bindings = <&rgb_encoder>;
        };

        upper_layer {
            bindings = <
&caps_word  &kp STAR   &kp NUMBER_7  &kp N8        &kp N9        &kp PLUS                           &kp C_VOLUME_UP               &kp LC(LS(TAB))  &kp LC(LS(PAGE_DOWN))  &kp LC(LS(PAGE_DOWN))  &kp LC(TAB)  &none  &none
&kp CAPS    &kp SLASH  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS              &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp LEFT_ARROW   &kp DOWN               &kp UP_ARROW           &kp RIGHT    &none  &none
&kp INS     &kp EQUAL  &kp N1        &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &none                &kp C_VOL_DN                  &kp HOME         &kp PAGE_DOWN          &kp PG_UP              &kp END      &none  &none
                                     &trans        &trans        &trans                                                           &trans           &trans                 &kp GLOBE
            >;

            label = "NUMBERS";
        };

        system_layer {
            bindings = <
&bt BT_CLR_ALL  &kp C_VOLUME_UP    &kp F7  &kp F8  &kp F9  &kp F10                    &trans          &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &kp C_NEXT
&sys_reset      &kp C_MUTE         &kp F4  &kp F5  &kp F6  &kp F11            &trans  &trans  &trans  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &kp C_PLAY_PAUSE
&bootloader     &kp C_VOLUME_DOWN  &kp F1  &kp F2  &kp F3  &kp F12  &trans            &trans          &bt BT_CLR       &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &kp C_PREV
                                           &trans  &trans  &trans                                     &trans           &rgb_ug RGB_SPI  &rgb_ug RGB_SPD
            >;

            label = "SYSTEM";
        };

        mouse_layer {
            display-name = "MOUSE";
            bindings = <
&none  &none  &none      &none      &none      &none                           &mmv MOVE_UP                     &none      &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none  &none
&none  &none  &mkp LCLK  &mkp MCLK  &mkp RCLK  &none           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none
&none  &none  &none      &none      &none      &none  &none                    &mmv MOVE_DOWN                   &none      &msc SCRL_LEFT  &none           &msc SCRL_RIGHT  &none  &none
                         &none      &tog 4     &none                                                            &mkp LCLK  &mkp RCLK       &mkp MCLK
            >;

            label = "MOUSE";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        system_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
